In [1]:
b = open('class530.csv','w')
b.write("Sn,Name,Address,Age,Phone,Blood Group\n")
data = ""
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age ="))
    add = input("Enter address = ")
    phone = int(input("Enter phone = "))
    bgroup = input("Enter Blood Group= ")
    info = f"{i},{name},{add},{age},{phone},{bgroup}\n"
    data = data+info
    
b.write(data)
b.close()

Enter n = 6
Enter name = ram
Enter age =67
Enter address = Kathmandu
Enter phone = 9856554543
Enter Blood Group= A+
Enter name = Shyam
Enter age =45
Enter address = Kathmandu
Enter phone = 9834334332
Enter Blood Group= B+
Enter name = Nabin
Enter age =56
Enter address = Kathmandu
Enter phone = 9845443432
Enter Blood Group= AB+
Enter name = hari
Enter age =67
Enter address = Patan
Enter phone = 9856554543
Enter Blood Group= B+
Enter name = Sita
Enter age =45
Enter address = Sauhara
Enter phone = 9856554543
Enter Blood Group= O-
Enter name = Nabina
Enter age =23
Enter address = Bhaktapur
Enter phone = 9845445432
Enter Blood Group= O+

In [2]:
b = open('class530.csv','r')
print(b.read())
b.close()

Sn,Name,Address,Age,Phone,Blood Group
1,ram,Kathmandu,67,9856554543,A+
2,Shyam,Kathmandu,45,9834334332,B+
3,Nabin,Kathmandu,56,9845443432,AB+
4,hari,Patan,67,9856554543,B+
5,Sita,Sauhara,45,9856554543,O-
6,Nabina,Bhaktapur,23,9845445432,O+

In [4]:
import pandas as pd
df = pd.read_csv('class530.csv',index_col = 'Sn')
df

      Name    Address  Age       Phone Blood Group
Sn
1      ram  Kathmandu   67  9856554543          A+
2    Shyam  Kathmandu   45  9834334332          B+
3    Nabin  Kathmandu   56  9845443432         AB+
4     hari      Patan   67  9856554543          B+
5     Sita    Sauhara   45  9856554543          O-
6   Nabina  Bhaktapur   23  9845445432          O+

In [8]:
import pandas as pd
df = pd.read_csv('class530.csv',index_col = 'Sn')
# df.head(2)
df.tail(2)

      Name    Address  Age       Phone Blood Group
Sn
5     Sita    Sauhara   45  9856554543          O-
6   Nabina  Bhaktapur   23  9845445432          O+

In [10]:
import pandas as pd
l = ['Sn','Name','Address','Age']
df = pd.read_csv('class530.csv',
                 index_col = 'Sn',usecols = l)
df

      Name    Address  Age
Sn
1      ram  Kathmandu   67
2    Shyam  Kathmandu   45
3    Nabin  Kathmandu   56
4     hari      Patan   67
5     Sita    Sauhara   45
6   Nabina  Bhaktapur   23

In [14]:
import pandas as pd
df = pd.read_csv('class530.csv',index_col = 'Sn')
df.iloc[2:5,2:4]

    Age       Phone
Sn
3    56  9845443432
4    67  9856554543
5    45  9856554543

In [37]:
import pandas as pd
df = pd.read_csv('class530.csv',index_col = 'Name')
df.loc["ram":"Shyam"]

KeyError: "Cannot get left slice bound for non-unique label: 'ram'"

In [49]:
import pandas as pd
df = pd.read_csv('class530.csv')
df1 = df[(df['Age'] <70) & (df['Address'] == 'Kathmandu')]
df1.to_csv('newdata.csv')
df1

   Sn   Name    Address  Age       Phone Blood Group
0   1    ram  Kathmandu   67  9856554543          A+
1   2  Shyam  Kathmandu   45  9834334332          B+
2   3   Siva  Kathmandu   56  9845443432         AB+

In [51]:
import pandas as pd
a = {"Name":['Ram','hari','Gita'],
    "Age":[67,45,78],
    "Address":["Nepal","Usa","China"]}
df = pd.DataFrame(a)
df.to_csv('small_data.csv')
df

   Name  Age Address
0   Ram   67   Nepal
1  hari   45     Usa
2  Gita   78   China

In [1]:
bill = []
net_total = 0
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name of the product = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price * quantity
    row = [i,name,price,quantity,total]
    net_total = net_total+total
    bill.append(row)
    
print("The billing is \n",bill)
print("The net total \n",net_total)

Enter n = 2
Enter name of the product = Apple
Enter price = 100
Enter quantity = 2
Enter name of the product = Ball
Enter price = 67
Enter quantity = 5
The billing is
 [[1, 'Apple', 100, 2, 200], [2, 'Ball', 67, 5, 335]]
The net total
 535

In [10]:
import csv
bill = [[1, 'Apple', 100, 2, 200], [2, 'Ball', 67, 5, 335]]
f = open('bill.csv', 'a')
x = csv.writer(f)

for i in bill:
    
    x.writerow(i)

In [11]:
import pandas as pd
df = pd.read_csv('bill.csv')
df

   Sn   Name  Price  Quantity  Total
0   1  Apple    100         2    200
1   2   Ball     67         5    335

In [5]:
import csv   
fields=[7,"Ramhari","Bhaktapur",73,9845445436,"A+"]
f = open('class530.csv', 'a')
x = csv.writer(f)
x.writerow(fields)

In [16]:
n = int(input("Enter n = "))
f = open('bill.csv', 'a')
x = csv.writer(f)
x.writerow(['Sn','Name','Price','Quantity','Total'])
for i in range(1,n+1):
    try:
        name = input("Enter name of the product = ")
        price = int(input("Enter price = "))
        quantity = int(input("Enter quantity = "))
    except:
        print("Invalid data.")
    total = price * quantity
    row = [i,name,price,quantity,total]
    x.writerow(row)

Enter n = 2
Enter name of the product = Apple
Enter price = 100
Enter quantity = 2
Enter name of the product = Bal
Enter price = 100
Enter quantity = 2

In [17]:
import pandas as pd
df =pd.read_csv('bill.csv')
df

   Sn   Name  Price  Quantity  Total
0   1  Apple     34         2     68
1   2   Ball     43         3    129

In [23]:
import csv
f = open('bill.csv')
reader = csv.DictReader(f)
for row in reader:
    print(row)

f.close()

OrderedDict([('Sn', '1'), ('Name', 'Apple'), ('Price', '34'), ('Quantity', '2'), ('Total', '68')])
OrderedDict([('Sn', '2'), ('Name', 'Ball'), ('Price', '43'), ('Quantity', '3'), ('Total', '129')])

In [25]:
import csv
csv_columns = ['Name', 'Age', 'Address']
dict = [
    {'Name':'Aayush','Age':23,'Address':'Katmandu'},
    {'Name':'Shyam','Age':33,'Address':'Patan'}
]
f = open("data.csv", 'w')
writer = csv.DictWriter(f, fieldnames=csv_columns)
writer.writeheader()
for data in dict:
    writer.writerow(data)