In [2]:
a = ["Apple","Ball","Cat","Dog","Fish"]
if "Apple" in a:
    print("Yes")

Yes

In [4]:
a.count("Apple")

1

In [2]:
a = ["Apple","Ball","Cat","Dog","Fish"]
x = input("Enter x = ")
if x in a:
    print("Yes")
    print(f"There is {a.count(x)} {x} in a")

Enter x = Apple
Yes
There is 1 Apple in a

In [8]:
b = []
a = ["Apple","Ball","Cat","Dog","Fish"]
for i in a:
    x = i.lower()
    b.append(x)
print(b)
n = input("Enter any value for search = ")
if n.lower() in b:
    print("Yes")

['apple', 'ball', 'cat', 'dog', 'fish']
Enter any value for search = ApPle
Yes

In [9]:
# index()
a = ["Apple","Ball","Cat","Dog","Fish"]
a.index("Apple")

0

In [13]:
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
n = len(a)
for i in range(n):
    if a[i] == "Apple":
        print(i)

0
5

In [14]:
z = []
a = ["Apple","Ball","Cat","Dog","Fish","Apple"]
n = len(a)
for i in range(n):
    if a[i] == "Apple":
        z.append(i)
print(z)

[0, 5]

In [16]:
# Update or replace
a = ["Apple","Ball","Cat"]
a[0] = "Ant"
print(a)

['Ant', 'Ball', 'Cat']

In [17]:
a = ["Apple","Ball","Cat","Apple"]
a[0] = "Ant"
a[3] = "Ant"
print(a)

['Ant', 'Ball', 'Cat', 'Ant']

In [18]:
# del ramove() pop ()
a = ["Apple","Ball","Cat","Apple"]
del a[0]
print(a)

['Ball', 'Cat', 'Apple']

In [19]:
a = ["Apple","Ball","Cat","Apple"]
del a[0:3]
print(a)

['Apple']

In [20]:
a = ["Apple","Ball","Cat","Apple"]
a.remove("Ball")
print(a)

['Apple', 'Cat', 'Apple']

In [25]:
a = ["Ball","Apple","Apple","Cat"]
for i in a:
    if i == "Apple":
        a.remove(i)
        print(a)
print(a)

['Ball', 'Apple', 'Cat']
['Ball', 'Apple', 'Cat']

In [2]:
b = []
a = ["Ball","Apple","Apple","Cat"]
n = len(a)
for i in range(n):
    if a[i] == "Apple":
        continue
    b.append(a[i])
    
print(b)

['Ball', 'Cat']

In [5]:
# pop()
a = ["Apple","Ball","Cat","Dog"]
a.pop(2)

'Cat'

In [6]:
a

['Apple', 'Ball', 'Dog']

In [7]:
# pop()
a = ["Apple","Ball","Cat","Dog"]
b = a.pop(2)
print(a)
print(b)

['Apple', 'Ball', 'Dog']
Cat

In [8]:
# list inside list
a = [[1,2],[2,3],[4,5]]
print(a[0])

[1, 2]

In [9]:
# list inside list
a = [[1,2],
     [2,3]]
print(a[0][0])

1

In [14]:
a = ['Apple', 'Ball', 'Dog']
a[0][3]

'l'

In [17]:
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
a[0][1]

2

In [18]:
a = [[1,2,3],
     [4,5,6],
     [1,2,3]]

In [20]:
a = [[1,2]] + [[2,3]]
print(a)

[[1, 2], [2, 3]]

In [21]:
a = [[1,2]] + [2,3]
print(a)

[[1, 2], 2, 3]

In [22]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    data = [name,phone]
    a.append(data)
print(a)

Enter n = 2
Enter name = Ram
Enter phone = 887987987
Enter name = Shyam
Enter phone = 9790798
[['Ram', 887987987], ['Shyam', 9790798]]

In [27]:
a = []
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    data = [[i,name,phone]]
    a = a+data
print(a)

Enter n = 2
Enter name = Ram
Enter phone = 8676786
Enter name = Shyam
Enter phone = 98987988
[[1, 'Ram', 8676786], [2, 'Shyam', 98987988]]

In [28]:
n = int(input("Enter n = "))
a[n-1]

Enter n = 1

[1, 'Ram', 8676786]

In [29]:
for i in a:
    print(i)

[1, 'Ram', 8676786]
[2, 'Shyam', 98987988]

In [32]:
a = [[1, 'Ram', 8676786], [2, 'Shyam', 98987988],[3, 'Ram', 7565568]]
for i in a:
    if "Ram" in i:
        print(i)

[1, 'Ram', 8676786]
[3, 'Ram', 7565568]

In [36]:
a = [[1, 'Ram', 8676786], [2, 'Shyam', 98987988],[3, 'Ram', 7565568]]
a[0][1] = "Ram Prasad"
print(a)

[[1, 'Ram Prasad', 8676786], [2, 'Shyam', 98987988], [3, 'Ram', 7565568]]

In [39]:
a = [[1, 'Ram', 8676786], [2, 'Shyam', 98987988],[3, 'Ram', 7565568]]
for i in range(len(a)):
    if "Ram" in a[i]:
        print(i)

0
2

In [1]:
# WAP  for a billing system
# WAP for result management system

In [3]:
bill = []
net_total = 0
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name of the product = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price * quantity
    row = [i,name,price,quantity,total]
    net_total = net_total+total
    bill.append(row)
    
print("The billing is \n",bill)
print("The net total \n",net_total)

Enter n = 2
Enter name of the product = Momo
Enter price = 100
Enter quantity = 3
Enter name of the product = Chowmin
Enter price = 150
Enter quantity = 3
The billing is
 [[1, 'Momo', 100, 3, 300], [2, 'Chowmin', 150, 3, 450]]
The net total
 750

In [4]:
for i in bill:
    print(i)

[1, 'Momo', 100, 3, 300]
[2, 'Chowmin', 150, 3, 450]

In [6]:
search = input("Enter product name = ")
for i in bill:
    if search in i:
        print(i)

Enter product name = Momo
[1, 'Momo', 100, 3, 300]

In [12]:
# quantity =bill[0][3]
q = int(input("Enter quantity = "))

price = bill[0][2]
quantity = q
total = price *quantity
bill[0][3] = quantity
bill[0][4] = total

Enter quantity = 4

In [13]:
bill

[[1, 'Momo', 100, 4, 400], [2, 'Chowmin', 150, 3, 450]]

In [14]:
del bill[1]
print(bill)

[[1, 'Momo', 100, 4, 400]]

In [18]:
# WAP for result management system
result = []
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    physics = int(input("Enter physics marks = "))
    chemistry = int(input("Enter chemistry marks = "))
    math = int(input("Enter math marks = "))
    english = int(input("Enter english marks = "))
    nepali = int(input("Enter nepali marks = "))
    t = [physics,chemistry,math,english,nepali]
    total = sum(t)
    per = total/5
    if per >=80:
        grade = "A"
    elif per >=60:
        grade = "B"
    elif per >=45:
        grade = "C"
    else:
        grade = "F"
    data = [i,name,total,per,grade]
    final_data = data[0:2]+t+data[2:]
    result.append(final_data)
    
print(result)

Enter n = 2
Enter name = Ram
Enter physics marks = 67
Enter chemistry marks = 90
Enter math marks = 89
Enter english marks = 67
Enter nepali marks = 78
Enter name = Shyam
Enter physics marks = 56
Enter chemistry marks = 90
Enter math marks = 78
Enter english marks = 87
Enter nepali marks = 67
[[1, 'Ram', 67, 90, 89, 67, 78, 391, 78.2, 'B'], [2, 'Shyam', 56, 90, 78, 87, 67, 378, 75.6, 'B']]

In [20]:
final_net_data = [["Sn","Name","physics","chemistry","math","english","nepali","Total","Per","Grade"]]+result
print(final_net_data)

[['Sn', 'Name', 'physics', 'chemistry', 'math', 'english', 'nepali', 'Total', 'Per', 'Grade'], [1, 'Ram', 67, 90, 89, 67, 78, 391, 78.2, 'B'], [2, 'Shyam', 56, 90, 78, 87, 67, 378, 75.6, 'B']]

In [21]:
for i in result:
    if "B" in i[-1]:
        print(i)

[1, 'Ram', 67, 90, 89, 67, 78, 391, 78.2, 'B']
[2, 'Shyam', 56, 90, 78, 87, 67, 378, 75.6, 'B']

In [24]:
result = [[1, 'Bharat', 67, 90, 89, 67, 78, 391, 78.2, 'A'], 
          [2, 'Shyam', 56, 90, 78, 87, 67, 378, 75.6, 'B']]
for i in result:
    if "B" in i[-1]:
        print(i)

[2, 'Shyam', 56, 90, 78, 87, 67, 378, 75.6, 'B']