In [1]:
# Python Collecetions
# List
# Tuples
# Dictionary
# Set

In [2]:
# # list
# -indexed
# -ordered
# -duplicate members
# -mutable

In [3]:
a = list()
print(a)

[]

In [4]:
a = ["Aplle","Ball","Cat"]
b = [1,2,3,4,5,6]
print(a)
print(b)

['Aplle', 'Ball', 'Cat']
[1, 2, 3, 4, 5, 6]

In [5]:
type(a)

list

In [6]:
type(b)

list

In [7]:
a = ["Apple",1,10.3]
len(a)

3

In [11]:
# -indexed
a[2]

10.3

In [14]:
a = ["Apple","Ball","Cat","Dog","Fish"]
a[0]

'Apple'

In [15]:
a[0:4]

['Apple', 'Ball', 'Cat', 'Dog']

In [16]:
a[0:4:2]

['Apple', 'Cat']

In [18]:
a[4::-1]

['Fish', 'Dog', 'Cat', 'Ball', 'Apple']

In [19]:
a = ["Apple","Ball"]
b = ["Cat","Dog"]
print(a+b)

['Apple', 'Ball', 'Cat', 'Dog']

In [20]:
a = ["Apple","Ball"]
a*3

['Apple', 'Ball', 'Apple', 'Ball', 'Apple', 'Ball']

In [21]:
a = [1,2,3]
a*2

[1, 2, 3, 1, 2, 3]

In [22]:
a = ["Apple","Ball"]
b = ["Cat","Dog"]
print(b+a)

['Cat', 'Dog', 'Apple', 'Ball']

In [25]:
a = []
b = ["Ram"]
a+b

['Ram']

In [26]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a = a +[name]
print(a)

Enter n = 3
Enter name = Ram
Enter name = Shyam
Enter name = Hari
['Ram', 'Shyam', 'Hari']

In [14]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter name = "))
    a = a +[x]
print("The list is = ",a)
print("The sum is = ",sum(a))
print("The max is = ",max(a))
print("The min is = ",min(a))
print("The avg is ",sum(a)/n)

Enter n = 5
Enter name = 234
Enter name = 34
Enter name = 5
Enter name = 6
Enter name = 234
The list is =  [234, 34, 5, 6, 234]

In [2]:
a.sort()
print(a)

[65, 123, 123, 234, 345]

In [3]:
a

[65, 123, 123, 234, 345]

In [4]:
a.reverse()

In [5]:
a

[345, 234, 123, 123, 65]

In [12]:
a = ["1apple","Zebra","Xray",".bAll"]
a.sort()

In [13]:
a

['.bAll', '1apple', 'Xray', 'Zebra']

In [15]:
# append()
a = []
b = ["Apple"]
c = a+b
print(c)

['Apple']

In [18]:
a = ["Apple"]
b = "Ball"
a.append(b)
print(a)

['Apple', 'Ball']

In [19]:
a = [1]
a.append(2)
print(a)

[1, 2]

In [ ]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter name = "))
    a.append(x)
print("The list is = ",a)
print("The sum is = ",sum(a))
print("The max is = ",max(a))
print("The min is = ",min(a))
print("The avg is ",sum(a)/n)

In [21]:
# insert()
a = ['Apple', 'Ball', 'Cat', 'Dog']
a.insert(-1,"Zebra")
a

['Apple', 'Ball', 'Cat', 'Zebra', 'Dog']

In [22]:
for i in a:
    print(i)

Apple
Ball
Cat
Zebra
Dog

In [23]:
for i in a:
    if i == "Zebra":
        break
    print(i)

Apple
Ball
Cat

In [24]:
for i in a:
    if i == "Zebra":
        continue
    print(i)

Apple
Ball
Cat
Dog

In [29]:
n = len(a)
for i in range(n):
    print(i,a[i])

0 Apple
1 Ball
2 Cat
3 Zebra
4 Dog

In [27]:
a[1]

'Ball'

In [30]:
n = len(a)
for i in range(2,n):
    print(i,a[i])

2 Cat
3 Zebra
4 Dog

In [31]:
for i in a:
    if (i == "Apple") or (i == "Ball"):
        continue
    print(i)

Cat
Zebra
Dog