In [1]:
# set
# not indexed
# no duplicate values
# unordered
# mutable data type

In [2]:
a = set()
print(a)

set()

In [3]:
a = {1,2,3,4,5,6,7}
a[0]

TypeError: 'set' object does not support indexing

In [5]:
a = {1,1,2,3,4,2,5,3}
print(a)

{1, 2, 3, 4, 5}

In [6]:
a = {3,4,1,5,2,0}
a

{0, 1, 2, 3, 4, 5}

In [25]:
a = {"apple","Zebra","1ball",".xray"}
print(a)

{'1ball', 'apple', 'Zebra', '.xray'}

In [7]:
a = {1,2,3}
b = {4,5}
a+b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [8]:
# update
# add

In [9]:
a = set()
a.add(1)
a

{1}

In [ ]:
# tuple int string

In [10]:
a = set()
a.add("Hello World")
a

{'Hello World'}

In [11]:
a = set("Hello")
a

{'H', 'e', 'l', 'o'}

In [12]:
a = {1,2,3}
b = {4,5,6}
a.update(b)

In [13]:
a

{1, 2, 3, 4, 5, 6}

In [17]:
a = set()
a.add((1,2))
print(a)

{(1, 2)}

In [20]:
a = {(1,2),(1,2)}
a

{(1, 2)}

In [27]:
a = set()
n=int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a.add(x)
    
print(a)

Enter n = 3
Enter x = 123
Enter x = 234
Enter x = 132
{234, 123, 132}

In [29]:
a = {"Ram","Shyam","Sita","Gita","Rita"}
b = {"Shyam","Nabin","Hira","Sabina"}
# union()
# intersection()
# difference()

In [30]:
# union()
a.union(b)

{'Gita', 'Hira', 'Nabin', 'Ram', 'Rita', 'Sabina', 'Shyam', 'Sita'}

In [35]:
# intersection()
a = {"Ram","Shyam","Sita","Gita","Rita"}
b = {"Shyam","Sita","Hira","Sabina"}
print(b.intersection(a))
print(b.union(a))

{'Shyam', 'Sita'}
{'Shyam', 'Sita', 'Rita', 'Gita', 'Ram', 'Sabina', 'Hira'}

In [36]:
# a-b
a = {"Ram","Shyam","Sita","Gita","Rita"}
b = {"Shyam","Sita","Hira","Sabina"}
a.difference(b)

{'Gita', 'Ram', 'Rita'}

In [38]:
# b-a
a = {"Ram","Shyam","Sita","Gita","Rita"}
b = {"Shyam","Sita","Hira","Sabina"}
b.difference(a)

{'Hira', 'Sabina'}

In [39]:
a = {1,2,3,4,5}
b = {6,7,8}
a.isdisjoint(b)

True

In [40]:
a = {1,2,3,4,5}
b = {6,7,8}
a.intersection(b)

set()

In [52]:
a = {1,2,3,4}
b = {4,3,7,6}
c = {3,7,8}
u = {1,2,3,4,5,6,7,8,9,10}
d = a.union(b,c)
d

{1, 2, 3, 4, 6, 7, 8}

In [53]:
(b.intersection(a)).difference(c)

{4}

In [54]:
(c.intersection(a)).difference(b)

set()

In [55]:
a = {1,2,3}
a.pop()

1

In [57]:
a = {1,2,3}
a.remove(1)

In [58]:
a

{2, 3}

In [59]:
a = {1,2,3,4,5,6}
b = {1,2,3}
b.issubset(a)

True

In [62]:
a = {1,2,3,4,5,6}
b = {1,2,3}
print(a.issubset(b))

False

In [63]:
a = {1,2,3,4,5,6}
b = {1,2,3}
print(a.issuperset(b))

True