In [1]:
a = tuple()
b = (1,2,3)
print(a)
print(b)

()
(1, 2, 3)

In [3]:
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [4]:
# indexed
# ordered
# duplicat members
# immutable

In [6]:
a = ("Apple","Bal","Cat")
a[1]

'Bal'

In [7]:
a = ("Apple","Bal","Cat")
a[0:2]

('Apple', 'Bal')

In [8]:
a = ("Apple","Bal","Cat")
len(a)

3

In [9]:
a = (1,2,3)
b = (4,5,6)
print(a+b)

(1, 2, 3, 4, 5, 6)

In [10]:
a = (1,2,3)
print(a*2)

(1, 2, 3, 1, 2, 3)

In [16]:
a = ("Apple",)
type(a)

tuple

In [21]:
a = (1,2,3,4,)
type(a)

tuple

In [22]:
a = (234,56,213,54)
print(min(a))
print(max(a))
print(sum(a))

54
234
557

In [26]:
a = (1,2,3)
a[0] = 0

TypeError: 'tuple' object does not support item assignment

In [28]:
a = ()
b = (1,)
c = a+b
d = c+(2,)

In [29]:
print(d)

(1, 2)

In [30]:
t = ()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    t = t+(x,)
print(t)

Enter n = 2
Enter x = 23423
Enter x = 34
(23423, 34)

In [33]:
a = (324,34,23,54,34,53)
b = sorted(a)
b

[23, 34, 34, 53, 54, 324]

In [34]:
print(a)

(324, 34, 23, 54, 34, 53)

In [40]:
a = (324,34,23,54,34,53)
b = list(a)
del b[-1]
print(b)

[324, 34, 23, 54, 34]

In [41]:
a = tuple(b)
print(a)

(324, 34, 23, 54, 34)

In [43]:
a = (324,34,23,54,34,53)
a[0:-1]

(324, 34, 23, 54, 34)

In [44]:
a = "Python"
list(a)

['P', 'y', 't', 'h', 'o', 'n']

In [45]:
a = "Python"
tuple(a)

('P', 'y', 't', 'h', 'o', 'n')

In [46]:
a = ['P', 'y', 't', 'h', 'o', 'n']
str(a)

"['P', 'y', 't', 'h', 'o', 'n']"

In [47]:
a = ("Apple","Ball","Cat","Dog")
if "Apple" in a:
    print("yes")

yes

In [ ]:
# tuple inside tuple
a = ((1,2,3),(4,5,6),(7,8,9))

# list inside tuple
a = ([1,2,3],[4,5,6],[7,8,9])

# tuple inside list
a = [(1,2,3),(4,5,6),(7,8,9)]

In [50]:
# tuple inside tuple
a = ((1,2,3),
     (4,5,6),
     (7,8,9))
b = (10,11,12)
a+(b,)

((1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12))

In [51]:
a = ()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter name = ")
    y = int(input("Enter age = "))
    z = input("Enter address = ")
    data = (x,y,z)
    a = a+(data,)
print(a)

Enter n = 2
Enter name = asdas
Enter age = 234
Enter address = sdfsd
Enter name = dfsdfs
Enter age = 342
Enter address = sdf
(('asdas', 234, 'sdfsd'), ('dfsdfs', 342, 'sdf'))

In [54]:
b = list(a)
b

[('asdas', 234, 'sdfsd'), ('dfsdfs', 342, 'sdf')]

In [56]:
b[0] = ('Ram',34,"Kathmandu")
b

[('Ram', 34, 'Kathmandu'), ('dfsdfs', 342, 'sdf')]

In [57]:
b.append(("Shyam",34,"Patan"))
b

[('Ram', 34, 'Kathmandu'), ('dfsdfs', 342, 'sdf'), ('Shyam', 34, 'Patan')]

In [60]:
data = []
a = ((1,2,3),(4,5,6),(7,8,9))
b =list(a)
for i in b:
    data.append(list(i))
    
print(data)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [61]:
def cal():
    a = 10
    b = 20
    return a,b
cal()

(10, 20)

In [63]:
# list inside tuple
a = ([1,2,3],[4,5,6],[7,8,9])
a[0].append(4)
a

([1, 2, 3, 4], [4, 5, 6], [7, 8, 9])

In [68]:
# list inside tuple
a = ([1,2,3,4],[4,5,6],[7,8,9])
del a[0][3]
a

([1, 2, 3], [4, 5, 6], [7, 8, 9])

In [71]:
# list inside tuple
a = ([1,2,3,4],[4,5,6],[7,8,9])
b = ([10,11,12],)

a+b

([1, 2, 3, 4], [4, 5, 6], [7, 8, 9], [10, 11, 12])